.chat-online #icon-online {
      color: #E42626;
}

.chat-online #icon-online.online {
      color: #378C3B;
}

.chat-box {
      position: relative;
      float: left;
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
}

.chat-day {
      position: relative;
      float: left;
      height: auto;
      width: 100%;
}

.chat-msg-day-holder {
      position: relative;
      float: left;
      width: 100%;
      line-height: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      color: #999;
      font-size: 15px;
}

.chat-msg-holder {
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 20px;
}

.chat-msg-owner {
      position: relative;
      width: 20%;
      text-align: center;
}

.chat-msg-owner p {
      position: relative;
      border: 2px solid #DDD;
      display: inline-block;
      margin: 0px;
      width: 30px;
      height: 30px;
      box-sizing: content-box;
      line-height: 30px;
      border-radius: 50%;
      background: #FFF;
}

.chat-msg-text-holder {
      position: relative;
      max-width: 60%;
}

.chat-msg-holder div {
      float: right;
}

.chat-msg-holder.self-msg div {
      float: left;
}

.chat-msg-holder.self-msg .chat-msg-text-box {
      background: #43A047;
      color: #FFF;
}

.chat-msg-text-box {
      position: relative;
      float: left;
      width: 100%;
      background: #F0F0F0;
      border-radius: 3px;
      padding: 12px 16px;
      color: #000;
      font-size: 15px;
      box-sizing: border-box;
      line-height: 24px;
}

.chat-msg-text-box hr {
      border: 1px solid #DDD;
      border-style: dotted;
}

.chat-msg-holder.self-msg .chat-msg-text-box hr {
      border: 1px solid #349138;
}

.chat-msg-text-box::before {
      position: absolute;
      top: 0px;
      right: -7px;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 15px 0 0;
      border-color: #F0F0F0 transparent transparent transparent;
}

.chat-msg-holder.self-msg .chat-msg-text-box::before {
      position: absolute;
      top: 0px;
      left: -7px;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 15px 15px 0;
      border-color: transparent #43A047 transparent transparent;
}

.chat-msg-text-time {
      position: relative;
      float: left;
      width: 100%;
      font-size: 12px;
      padding: 4px 0px;
      color: #CCC;
}

.chat-msg-space {
      position: relative;
      float: left;
      width: 20%;
}
