@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


html {
      font-family: "Open Sans";
      overflow: hidden !important;
}
body {
      height: 100vh;
      padding: 0px;
      margin: 0px;
}

video{
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
}

.disable{
      pointer-events: none;
      opacity: 0.5;
}

.float-right {
      float: right !important;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
}

/**********************************************************************
Overriddinng grid from default.css
**********************************************************************/
.vertical-center {
      top: 40% !important;
}


/**********************************************************************
Login screen
**********************************************************************/
.call-cover {
      /* TODO Remove this*/
      position: fixed;
      width: 100%;
      height: 100%;

      /*background: url("../imgs/icon-pattern.png");*/
      background: #76b852;
      background: -webkit-linear-gradient(to left, #76b852 , #8DC26F);
      background: linear-gradient(to left, #76b852 , #8DC26F);

      z-index: 999;
      overflow: hidden;
      overflow-y: scroll;
}
/*.call-cover:before {
content: '';
position: absolute;
height: 100%;
width: 100%;
opacity: .9;

background: #76b852;
background: -webkit-linear-gradient(to left, #76b852 , #8DC26F);
background: linear-gradient(to left, #76b852 , #8DC26F);
}*/
.submit-form {
      position: relative;
      margin: 60px auto;
      width: 100%;
      /*width: 40%;*/
      /*height: 400px;*/
      /*overflow: hidden;
      overflow-y: auto;*/
      background: #FFF;
      overflow: visible;
      max-width: 500px;
}

#customer-form {
      display: none;
}

/**********************************************************************
Call base styling
**********************************************************************/
.call-base {
      position: relative;
      float: left;
      width: 100%;
      height: 100vh;
}
.full-height {
      height: 100%;
}
#video-zone {
      height: 100%;
}
#text-zone {
      height: 100%;
}

/**********************************************************************
Text chat styling
**********************************************************************/
.row div section {
      position: relative;
      float: left;
      width: 100%;
}
.text-chat {
      background: #F9F9F9;
      height: 100%;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.chat-heading {
      padding: 20px 20px;
}
.chat-history {
      height: calc(100% - 188px - 64px - 2px);
      border-top: 1px solid #DFDFDF;
      border-bottom: 1px solid #DFDFDF;
}
.chat-type {
      position: absolute;
      bottom: 0px;
      width: 100%;
      box-sizing: border-box;
}
#icon-online {
      font-size: 12px;
}
.text-chat .chat-type textarea {
      padding: 20px;
      width: 100%;
      border: 0px;
      font-family: inherit;
      color: #666;
      font-size: 15px;
      box-sizing: border-box;
}
.text-chat .chat-type textarea:focus {
      outline: none;
}
/**********************************************************************
video chat section styling
**********************************************************************/
.current-call {
      position: relative;
      float: left;
      width: 100%;
      height: 100%;
}
.current-call, #current-video {
      position: relative;
      float: left;
      width: 100%;
      height: 100%;
}

.alternate-text {
      display: none;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: #FFF;
}
.connected-to-call {
      position: absolute;
      bottom: 0px;
      height: auto;
      width: 100%;
      background: transparent;
}
.connected-to-call:hover .call-controls {
      height: auto;
}
.mini-media-holder {
      overflow: hidden;
      overflow-x: auto;
      /*background: rgba(0, 0, 0, 0.1);*/
      box-sizing: border-box;
}
.mini-videos-holder-no-video {
      display: none;
      position: absolute;
      top: 0px;
      left: 0px;
      width: calc(100% - 8px);
      /*margin: 4px;*/
      height: 142px;
      background: #FFF;
      cursor: pointer;
      z-index: 0;
      border: 4px solid #DDD;
}

.mini-videos-holder-no-video div {
      width: auto;
      text-align: center;
      background: #999;
      color: #FFF;
      font-size: 12px;
      padding: 5px;
}

.mini-videos-holder-name {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height:  100%;
      background: transparent;
      box-sizing: border-box;
      z-index: 1;
      cursor: pointer;
}

.mini-videos-holder-name div {
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: auto;
      background: #EFEFEF;
      color: #999;
      text-align: right;
      margin: 14px 14px;
      padding: 4px 12px;
      font-size: 12px;
}

.single-mini-video {
      position: relative;
      float: left;
      margin-right: 4px;
      /*border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;*/
}

/*.single-mini-video:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: -5px;
      left: 50%;
      z-index: 999;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #777;
}*/

.single-mini-video video {
      position: relative;
      float: left;
}

.video-holder #miniMediaHolder video {
      border: 8px solid #EFEFEF;
      margin: 4px 0px;
}

.video-holder #miniMediaHolder video:hover {
      cursor: pointer;
}
/**********************************************************************
call controls styling
**********************************************************************/
.call-controls {
      position: relative;
      float: left;
      height: 0px;
      width: 100%;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.4);
}
.call-controls-list {
      position: relative;
      width: 155px;
      overflow: hidden;
      list-style: none;
      margin: 0px auto;
      padding: 10px;
      background: rgba(0, 0, 0, 0.1);
}
.call-controls-list li {
      position: relative;
      float: left;
      width: 40px;
      height: 40px;
      background: green;
      border-radius: 50%;
      color: #FFF;
      text-align: center;
      margin: 0px 5px;
}
.call-controls-list li:hover {
      cursor: pointer;
}
.call-controls-list li span {
      line-height: 38px;
}
#cam-off, #mic-off {
      display: none;
}
.call-controls-list li.inactive #cam-off, .call-controls-list li.inactive #mic-off {
      display: block;
}
.call-controls-list li.inactive #cam-on, .call-controls-list li.inactive #mic-on {
      display: none;
}
#hangup-toggle {
      margin-left: 10px;
      background-color: #E42626;
}

/**********************************************************************
Modal hangup button
**********************************************************************/
.call-hang button {
      position: relative;
      overflow: hidden;
      padding: 16px 32px;
      outline: none;
      background: #E42626;
      color: #FFF;
      border: 0px;
      margin: 0 auto;
      width: 100%;
      display: block;

      text-align: center;
}

.call-hang button:hover {
      cursor: pointer;
}

/**********************************************************************
call video timer styling
**********************************************************************/
.call-video-substitute {
      display: none;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: #FFF;
}

.call-video-substitute-components {
      width: auto;
      text-align: center;
}

#video-components-name {
      font-size: 30px;
}

#video-components-timer {
      font-size: 15px;
      color: #AAA;
}



/*TODO: Remove this segment*/
.empty {

}

.invisible {
      opacity: 0;
}


/* Loaders spinners */
.dialog-title {
      width: 100%;
      text-align: center;
      font-weight: 700;
}
.dialog-load-spinner {
      margin-top: 60px;
      margin-bottom: 40px;
      text-align: center;
}
.spinner {
      -webkit-animation: rotator 1.4s linear infinite;
      animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
      0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
      }
      100% {
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
      }
}

@keyframes rotator {
      0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
      }
      100% {
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
      }
}
.path {
      stroke-dasharray: 187;
      stroke-dashoffset: 0;
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
      animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
      0% {
            stroke: #4285F4;
      }
      25% {
            stroke: #DE3E35;
      }
      50% {
            stroke: #F7C223;
      }
      75% {
            stroke: #1B9A59;
      }
      100% {
            stroke: #4285F4;
      }
}

@keyframes colors {
      0% {
            stroke: #4285F4;
      }
      25% {
            stroke: #DE3E35;
      }
      50% {
            stroke: #F7C223;
      }
      75% {
            stroke: #1B9A59;
      }
      100% {
            stroke: #4285F4;
      }
}
@-webkit-keyframes dash {
      0% {
            stroke-dashoffset: 187;
      }
      50% {
            stroke-dashoffset: 46.75;
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
      }
      100% {
            stroke-dashoffset: 187;
            -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
      }
}
@keyframes dash {
      0% {
            stroke-dashoffset: 187;
      }
      50% {
            stroke-dashoffset: 46.75;
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
      }
      100% {
            stroke-dashoffset: 187;
            -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
      }
}

/*********************************************/
.vanish,
div[id="page__overlay"].vanish,
div[id="page__modal-background"].vanish{
  opacity: 0
}

.appear,
div[id="page__overlay"].appear,
div[id="page__modal-background"].appear{
  opacity: 1
}
.hide{display: none}
.show{display: block}
#page__overlay[data-view="incoming-call"]{
  max-width: 420px;
}
div[id="page__overlay"]{
  position: fixed;
  max-width: 800px;
  z-index: 1000;
  background: #ffffff;
  overflow: auto;
  height: auto;
  left: 0px;
  right: 0px;
  margin: auto;
  -webkit-transition: top 0.3s ease-out;
  -ms-transition: top 0.3s ease-out;
  -moz-transition: top 0.3s ease-out;
  -o-transition: top 0.3s ease-out;
  transition: top 0.3s ease-out;
}
div[id="page__modal-background"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 999;
  opacity: 0;
  background: rgba(0,0,0,0.8);
  transition: opacity 0.4s ease
}

.incoming-call-wrapper {
    margin: auto;
    color: #fff;
}

.incoming-call-header {
}

.header-title {
    padding: 5px 0px;
    font-size: 22px;
    color: #ababab;
}

.header-content {
    font-size: 20px;
    color: #fff;
}

.location {
    font-size: 15px;
}

.incoming-call-body {
    padding: 20px 50px;
    background: rgba(214, 193, 193, 0.63);
    color: #333;
}

span.accept {
    padding: 20px;
    background: #388e3c;
}

span.decline {
    padding: 20px;
}

.btn {
    display: inline-block;
    padding: 20px;
    position: absolute;
    cursor: pointer;
}

.button-wrapper {
    position: relative;
    height: 60px;
}

.btn.decline {
    right: 0px;
    top: 0px;
}

.inner-content {
    background: #388e3c;
    padding: 20px 50px;
}

.btn.accept {
    top: 0px;
    left: 0px;
}
.btn:hover {
    background: #333;
    color: #fff;
}
